body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input {
  display: block;
  margin: 6px 0 20px;
  padding: 5px;
}

button {
  background-color: transparent;
  border: 1px solid #777;
  outline: none;
  border-radius: 4px;
  padding: 4px 6px;
  display: inline-block;
  cursor: pointer;
}
